{% extends "layout.html" %}
{% block title %}Метки{% endblock %}
{% block content %}
<a class="btn btn-primary mb-3" href="{% url 'labels_create' %}">Создать метку</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for label in object_list %}
        <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.date_created }}</td>
            <td>
                <a href="{% url 'labels_update' id=label.id %}">Изменить</a>
                <br>
                <a href="{% url 'labels_delete' id=label.id %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
